h1 {
  font-family: fantasy;
  color: forestgreen;
  font-size: 36px;
  word-spacing: 3px;
  align-items: center;
}
.tabs {
  list-style-type: non;
}
nav {
  display: flex;
  align-items: center;
  justify-content: end;
  background: #982222;
  padding: 0 15px;
}
#body {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}
#form {
  max-width: 400px;
  padding: 75px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: aliceblue;
}
#btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
#btn:hover {
  background-color: #45a049;
}
#contact {
  text-align: center;
}
#label {
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-top: 10px;

 
}


@media (max-width:500px) {


  #contact {
      background-color: red;
  }
}